@import './base.css';

#app {
  padding: 1rem;
  max-width: 2000px;
  min-width: 500px;
}

.global_css_longButton{width:100%}
/* アイコンありのボタンの文字の左にマージンを足す */
.global_css_haveIconButton_Margin p{margin-left: 0.4rem;}

.global_css_error{
    color: rgb(190, 0, 0);
    font-weight: bolder;
}

.global_css_input{
  outline:black solid 1px;
  padding: 0.2rem;
  font-size: small;
}